ion-content {
    .container {
        width: 100%;
        // max-height: calc(100vh - 56px - var(--sesh-age-timer));
        height: 100%;
        display: flex;
        flex-direction: column;

        ion-fab {
            margin: 16px;
        }
        #step-tree {
            flex: 1;
            overflow: auto;
            // background-color: #375771;
        }
        .mountains {
            padding: 10px 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-style: solid;
            border-color: var(--ion-border-color,#ededed);
            border-width: 1px 0px 1px 0px;
        }
    }
}