<ion-content>
  <ion-tabs id="stats-content">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="overall">
        <ion-label>Overall</ion-label>
        <ion-icon name="stats-chart-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="activities">
        <ion-label>Activities</ion-label>
        <ion-icon name="analytics-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="absurd">
        <ion-label>Absurd</ion-label>
        <ion-icon name="skull-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>