.title {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-icon-bg {
        border-radius: 5px;
        background-color: var(--ion-color-primary);
        padding: 4px;
        ion-icon {
            font-size: 25px;
            fill: white;
        }
    }
    h1 {
        margin: 0px 0px 0px 5px;
        font-variant: small-caps;
    }
}

.sub-header {
    display: flex;
    ion-item {
        flex: 1;
    }
    ion-button {
        font-size: 12px;
        text-transform: capitalize;
    }
}

ion-content {
    .container {
        padding: 16px;
    }
    .sub-title {
        font-size: 12px;
    }

    .rating {
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 10px;
        ion-icon {
            font-size: 40px;
        }
        h3 {
            margin: 0px;
            margin-left: 5px;
            font-size: 12px;
        }
    }

    .section {
        margin-bottom: 30px;
        .requirement {
            text-align: center;
            padding: 0px 10px;
            .requirement-header {
                display: flex;
                background-color: var(--ion-color-primary);
                align-items: center;
                ion-text {
                    font-size: 12px;
                    flex: 1;
                }

            }
            .list {
                .item {
                    display: flex;
                    ion-item {
                        flex: 1;
                    }
                    ion-item:first-child {
                        flex: 3;
                    }

                }
            }

        }
    }
}

.footer {
    display: flex;
    padding: 16px;
    ion-button {
        font-size: 12px;
        text-transform: capitalize;
    }
}